* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

html {
    overflow-x: hidden;
}

.logo {
    width: 180px;
}

.container-fluid {
    margin: 10px 20px 20px;
}

div {
    font-size: 14pt;
}

.btn-blue {
    background-color: #0D19A3;
    color: #fff;
}

.btn-blue:hover {
    background-color: #080F5B;
    color: #fff;
}

.txt-black {
    color: #000;
}

.shadow {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.height-s {
    margin: 2% auto 10%;
}

/*----Navbar----*/
.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.navbar-nav {
    margin: 0 40px 0 auto;
}

.nav-link {
    color: #000 !important;
    font-size: 16pt;
}

.dropdown a, .dropdown a:hover {
    text-decoration: none;
}

/*----Header----*/
.introduction-image {
    margin-left: 40px;
    width: 80%;
    z-index: 1;
}

.introduction-content {
    background-color: #0D19A3;
    width: 35%;
    margin-top: 40px;
    position: absolute;
    right: 40px;
    z-index: 2;
    color: #fff;
}

.introduction-content h2 {
    color: #fff;
    padding: 20px 20px 0;
    font-weight: 700;
}

.introduction-content div {
    padding: 20px;
}

/*----Offer-Page----*/
.offer-container {
    padding: 0;
    margin: 0;
    background: radial-gradient(ellipse at center, #464646 0%, #171717 100%);
}

.offer-container .container {
    padding-bottom: 50px
}

.category-lesson-image {
    height: 500px;
    width: 100%;
    filter: brightness(50%);
}

.offer-image {
    height: 250px;
    width: 100%;
    filter: brightness(50%);
}

.lesson-card {
    transition: all .5s ease-in-out;
}

.lesson-card:hover {
    transform: scale(1.05);
}

.offer-container h2{
    color: #fff;
    text-align: center;
}

/*----Section----*/
.bg-brown {
    background-color: #E4C580;
}

.bg-blue {
    background-color: #0D19A3;
}

.section-content-0 h2, .section-content-1 h2 {
    font-weight: 700;
}

.section-image-0 {
    width: 45%;
    height: auto;
    padding: 20px;
    z-index: 1;
}

.section-content-0 {
    width: 60%;
    height: auto;
    position: absolute;
    right: 30px;
    color: #fff;
    margin: 5% 30px;
    padding: 40px;
    z-index: 2;
}

.section-image-1 {
    margin: 0 60px 0 auto;
    z-index: 1;
    width: 60%;
    display: block;
}

.section-content-1 {
    width: 45%;
    height: auto;
    position: absolute;
    left: 30px;
    color: #fff;
    margin: 5% 30px;
    padding: 40px;
    z-index: 2;
}

.section-content-1 h2 {
    color: #fff;
}

/*----Inloggen----*/
.inlog-form {
    border-right: 1px solid #d1d1d1;
}

.inlog-form form {
    margin-bottom: 30px;
}

.inlog-form input[type="text"],
.inlog-form input[type="password"] {
    height: 50px;
    margin: 10px 0;
    background-color: #fff;
}

.inlog-form input[type="text"]::placeholder,
.inlog-form input[type="password"]::placeholder {
    color: #000;
    opacity: 1;
}

.inlog-form input[type="text"]:-ms-input-placeholder,
.inlog-form input[type="password"]:-ms-input-placeholder {
    color: #000;
}

.inlog-form input[type="text"]::-ms-input-placeholder,
.inlog-form input[type="password"]::-ms-input-placeholder {
    color: #000;
}

/*----Registratie-Form----*/
.form-group-registration{
    padding: 0;
}

.registration-form label {
    padding: 10px 0 5px 15px;
}

.form-input {
    position: relative;
    display: flex;
    align-items: center;
}

.form-input div {
    width: 100%;
}

.form-input input {
    width: 100%;
    display: flex;
    border: 1px #cdcdcd solid;
    border-radius: 2rem;
    overflow: hidden;
    padding: .5rem .5rem .5rem 3rem;
}

.form-input i {
    height: 1.5rem;
    position: absolute;
    padding: 0 1rem;
}

.form-input input:focus {
    outline: none;
}

.registration-card {
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.first-box{
    background-color: #0D19A3;
    width: 40%;
    height: 40%;
    position: absolute;
    right: 10%;
}

.second-box{
    background-color: #E4C580;
    width: 40%;
    height: 40%;
    position: absolute;
    right: -30%;
    top: 40%;
    z-index: 2;

}

.registration-title{
    color: #fff;
    font-size: 50pt;
    position: absolute;
    top: 20%;
    left: 5%;
}

.registration-content{
    color: #f0f0f0;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 2;
}

.watermark{
    font-size: 260pt;
    color: #0f0f0f;
    font-weight: bolder;
    letter-spacing: 0px;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    z-index: 1;
    left: -1%;
}

.my-custom-class-for-errors {
    /*border: 5px solid #ffdddd;*/
}

.form-group__message, .error {
    display: none;
}

.form-group--error .error {
    display: block;
    font-size: 0.75rem;
    color: #f57f6c;
    line-height: 2;
    margin-left: 14px;
}

.user-registration-list .uk-position-center-right.uk-position-small.uk-icon.uk-slidenav-next.uk-slidenav,
.user-registration-list .uk-position-center-left.uk-position-small.uk-icon.uk-slidenav-previous.uk-slidenav{
    transform: translateY(-150%);
}

/*----Empty-Section----*/
.empty-container {
    margin: 0;
}

.empty-container img {
    height: 70%;
}

/*----User----*/
.lesson-image {
    height: 700px;
    width: 100%;
    filter: brightness(50%);
}

.moment-carousel-indicator .uk-position-center-left.uk-position-small.uk-icon.uk-slidenav-previous.uk-slidenav {
    transform: translateX(2vh) translateY(-50%) translateY(-15px);
}

.moment-carousel-indicator .uk-position-center-right.uk-position-small.uk-icon.uk-slidenav-next.uk-slidenav {
    transform: translateX(-25vh) translateY(-50%) translateY(-15px);
}

.uk-position-center-left.uk-position-small.uk-icon.uk-slidenav-previous.uk-slidenav svg,
.uk-position-center-right.uk-position-small.uk-icon.uk-slidenav-next.uk-slidenav svg {
    width: 25px;
}

.moment-carousel-indicator .uk-position-center-left.uk-text-left {
    left: 10%;
}

.moment-carousel-indicator .uk-position-center-left.uk-text-left div {
    width: 80%;
}

.empty-moments{
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0 20px 0;
    min-height: 600px;
    padding: 0;
}

.empty-moments h1{
    color: #fff;
    font-size: 30pt;
    text-align: center;
    margin: 20% 0 0 0;
}

/*----Register----*/
.detal-carousel-indicator .uk-position-center-left.uk-position-small.uk-icon.uk-slidenav-previous.uk-slidenav {
    transform: translateX(18vh) translateY(-50%) translateY(-15px);
}

.detal-carousel-indicator .uk-position-center-right.uk-position-small.uk-icon.uk-slidenav-next.uk-slidenav {
    transform: translateX(-18vh) translateY(-50%) translateY(-15px);
}

.carousel-image {
    filter: brightness(75%);
    height: 450px;
}

.uk-slideshow-items {
    min-height: 450px !important;
}

.register-row {
    filter: brightness(75%);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 700;
}

.register-sidebar h3 {
    color: #fff;
    background-color: #0D19A3;
    padding: 10px 20px;
}

.register-sidebar ul {
    background-color: #F2F1F1;
    padding: 10px 20px;
    list-style: none;
}

.register-sidebar ul li::before {
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1.1em;
    position: relative;
}

.register-sidebar ul li {
    padding: 5px 20px;
}

/*----Registration-List----*/
.registration-list-image {
    height: 350px;
    width: 100%;
}

.empty-registration-list {
    margin: auto;
}

.empty-registration-list i, .empty-registration-list a {
    width: 100%;
    text-align: center;
}

/*----Lesson-Not-Found----*/
.lesson-not-found-container {
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(65%);
}

.lesson-not-found-container::before {
    filter: brightness(65%);
    z-index: -1;
}

.lesson-not-found-container .container {
    padding-top: 100px;
}

.not-found-sub-title, .not-found-title {
    text-transform: uppercase;
}

.not-found-sub-title, .not-found-title, .not-found-content, .not-found-btn {
    font-weight: 700;
    color: #fff;
}

/*----Footer----*/
.site-footer {
    background-color: #0D19A3;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h2 {
    color: #fff;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #fff;
    text-decoration: none;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #fff
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.pinterest:hover {
    background-color: #ea4c89
}
