* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

html {
    overflow-x: hidden;
}

.logo {
    width: 180px;
}

.container-fluid {
    margin: 10px 20px 20px;
}

div {
    font-size: 14pt;
}

.btn-blue {
    background-color: #0D19A3;
    color: #fff;
}

.btn-blue:hover {
    background-color: #080F5B;
    color: #fff;
}

.txt-black {
    color: #000;
}

.shadow {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.height-s {
    margin: 2% auto 10%;
}

/*----Navbar----*/
.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.navbar-nav {
    margin: 0 40px 0 auto;
}

.nav-link {
    color: #000 !important;
    font-size: 16pt;
}

.dropdown a, .dropdown a:hover {
    text-decoration: none;
}

/*----Section----*/
.bg-brown {
    background-color: #E4C580;
}

.bg-blue {
    background-color: #0D19A3;
}

.section-content-0 h2, .section-content-1 h2 {
    font-weight: 700;
}

.section-image-0 {
    width: 45%;
    height: auto;
    padding: 20px;
    position: absolute;
    right: 50px;
    z-index: 1;
}

.section-content-0 {
    width: 60%;
    height: auto;
    color: #fff;
    margin: 5% 30px;
    padding: 40px;
    z-index: 2;
}

.section-image-1 {
    margin-left: 40px;
    width: 60%;
    z-index: 1;
}

.section-content-1 {
    width: 45%;
    height: auto;
    position: absolute;
    right: 30px;
    color: #fff;
    margin: 5% 30px;
    padding: 40px;
    z-index: 2;
}

.section-content-1 h2 {
    color: #fff;
}



/*----Empty-Section----*/
.empty-container {
    margin: 0;
}

.empty-container img {
    height: 70%;
}

/*----Footer----*/
.site-footer {
    background-color: #0D19A3;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h2 {
    color: #fff;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #fff;
    text-decoration: none;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #fff
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.pinterest:hover {
    background-color: #ea4c89
}
